<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>welcme</title>
</head>
<body>
<h1>欢迎页面</h1>
<a th:href="@{/testInternalResourceView}">测试转发视图</a><br>
<a th:href="@{/testApplication}">往应用域塞东西</a><br>
<a th:href="@{/testSession}">往会话域里塞东西</a><br>
<a th:href="@{/testMV}">往请求域中塞东西,方法是:ModelAndView</a><br>
<a th:href="@{/testModel}">往请求域中塞东西,方法是:Model</a><br>
<a th:href="@{/testModelMap}">往请求域中塞东西,方法是:ModelMap</a><br>
<a th:href="@{/testMap}">往请求域中塞东西,方法是:Map</a><br>
<a th:href="@{/testParam1(id=123,username=123)}">一一对应</a><br>
<a th:href="@{/testParam2(id=123,user_name=123)}">通过映射</a><br>
<a th:href="@{/testParamAttr(id=123)}">默认值</a><br>
<a th:href="@{/testReqHeader}">请求头信息</a><br>
<a th:href="@{/testCookieValue}">cookie信息</a><br>
<a th:href="@{/testPojo(id=123,username=123)}">通过实体类对象</a><br>
<a th:href="@{/redirectView}">重定向试图</a><br>
<form th:action="@{/testRequestBody}" method="post">
    <input type="text" name="id">
    <input type="submit" value="测试@RequestBody">
</form>
<form th:action="@{/testRequestEntity}" method="post">
    <input type="text" name="id">
    <input type="submit" value="测试RequestEntity">
</form>
</body>
<a th:href="@{/testResponseBody}">测试@ResponseBody基础形式</a>
<a th:href="@{/testResponseBodyJson}">测试@ResponseBodyJson形式</a>
<br><br><br><br><br>
<a th:href="@{/download}">下载图片</a>

<form th:action="@{/upgrade}" enctype="multipart/form-data" method="post">
    <input type="file" name="multipartFile">
    <input type="submit" value="上传">
</form>



</html>